nav {
  background-color: red;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.NavBar-link {
  width: 100px;
  text-align: center;
  color: #f0f2f5;
  text-decoration: none;
}

.NavBar-link.active {
  color: #f0f2f5;
  font-weight: bold;
  border-bottom: 5px dotted;
  box-sizing: border-box;
}

.NavBar-link.active:hover {
  color: #f0f2f5 !important;
}

.NavBar-link:hover {
  text-decoration: none;
  color: #f0f2f5;
}

.navbar-brand.active {
  border-bottom: none;
}

.NavBar-link:hover {
  font-weight: bold;
}

.NavBar-img {
  height: 35px;
}

.NavBar-button {
  background-color: red;
  border-color: red;
}

.NavBar-button:hover {
  background-color: red;
  border-color: red;
  font-weight: bold;
}